In [8]:
import numpy as np
np.arange(0,20).reshape(5,4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [ ]:
#DATAFRAMES ARE BASICALLY TABLES TO ARRAGE DATA IN A TABULAR FORMAT WITH LABELS WHICH ARE SIMILAR TO SQL AND EXCEL
#PANDAS IS A LIBRARY FOR DATA ANALYSIS AND MANIPULATION


import pandas as pd
df=pd.DataFrame(data=np.arange(0,20).reshape(5,4),index=["r1","r2","r3","r4","R5"],columns=["c1","c2","c3","c4"])
df.head()

    c1  c2  c3  c4
r1   0   1   2   3
r2   4   5   6   7
r3   8   9  10  11
r4  12  13  14  15
R5  16  17  18  19

In [24]:
df.loc['r3']
df.iloc[2:4,0:3]

    c1  c2  c3
r3   8   9  10
r4  12  13  14

In [27]:
df.iloc[:,1 :].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])